* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: 'Milyuna'; /* Choose a name for your font family */
    src: url('../Fonts/milyuna/milyuna-regular.ttf') format('truetype'); /* Specify the path to the .woff file */
    font-weight: normal; /* Optional: Define font weight */
    font-style: normal; /* Optional: Define font style */
}

body{
    background-color:white;
    font-family:"Montserrat";
}

header {
    width: 100%;
    height: 70vh;
    vertical-align: top;
    margin-top:-180px;
    background-image:url("../images/brown-fabric.jpg");
    background-size:cover;
}
.header .content{
    z-index:2;
}


nav{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: rgba(211, 221, 230, 0.62);
    vertical-align: top;
    width: 100%;
    position: sticky;
    z-index:1;
    overflow:hidden;
    padding:20px;
    top:0;
    transition:all 1s ease-in-out;
}

nav > i{
    visibility: hidden;
}

.sidemenu{
    z-index:81;
    float:right;
    position:fixed;
    overflow:hidden;
    right:0;
    display:none;
    background-color: rgba(18, 58, 94, 0.62);
    height:150%;
    width:400px;
    transition:all 1s ease-in-out;
    bottom:-50%;
}

.sidemenu a{
    position:relative;
    top:120px;
    left:20px;
}

@media only screen and (max-width:961px){
    nav .links, nav .donate{
        display:none;
    }
    nav > i{
        margin-left:180px;
        visibility:visible;
        cursor: pointer;
    }
}

@media only screen and (max-width:701px){
    .box-inline h1{
        padding-right:83px;
    }
}

.header {
    margin-top: 180px;
    max-width: 686px;
    margin-left: 18%;
    font-size: 20px;
    padding-top:170px;
}

.header h1 {
    line-height: 60px;
    font-size: 60px;
    padding-bottom:15px;
    font-family:"Milyuna", sans-serif;
    font-weight:300;
}
.header p{
    font-size:16px;
}
nav .img {
    margin-right: 23.203%;
    margin-left: 0.1%;
}

.maininfo > .links {
    text-decoration: none;
    padding-top: 1px;
}

.links .link {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    padding: 20px;
    line-height:28px;
}

.links a {
    text-decoration: none;
    position: relative;
    color: black;
}

.links a:hover:after {
    text-decoration: underline;
    text-decoration-color: orange;
    width: 60%;
}

.links a::after {
    content: '';
    text-decoration-color: orange;
    transition: width .3s ease;
    height: 2px;
    position: absolute;
    left: 20px;
    bottom: 12px;
    width: 0;
    background-color: orange;
}

nav .donate {
    padding-left: 60px;
    position: relative;
    bottom: 10px;
}

.donate a button {
    font-weight: 700;
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-family:"Montserrat", sans-serif;
}

.donate button {
    width: 240px;
    background-color: #364858;
    border: none;
    border-radius: 10px 10px 10px 10px;
    padding: 16px 0;
    overflow: auto;
}

.donate button:hover {
    border: #364858 1px solid;
    background: lightblue;
    transition: all .3s ease-in;
}

.donate a button:hover {
    color: #364858;
    cursor: pointer;
}


.box {
    display: flex;
    flex-direction: reverse;
    margin-left: 15%;

}

.box img {
    max-width: 510px;
    height: 540px;
    border-radius: 12px 12px 12px 12px;
    margin-top: 120px;
    margin-right: 15%;
    position: relative;
    bottom: 70px;
}

.box .text {
    text-align: left;
    font-size: 25px;
}

.box .text p {
    font-size: 16px;
    letter-spacing: 0.6px;
    vertical-align: top;
    text-align: left;
    padding-right: 12px;
    line-height: 24px;
    margin-right: 15%;
    font-weight:300;

}

.box .text h1{
    font-family:"Milyuna", sans-serif;
    font-weight:300;
}

.box .content {
    display: inline-block;
    justify-content: center;
    min-height: 7px;
}

@media only screen and (max-width:1190px) {
    .box {
        display: block;
    }

    .box .text {
        order: 2;
    }

    .box img {
        order: 1;
        height: 250px;
        width: 360px;

    }
}

.box-2 {
    background-color: rgb(244, 242, 234);
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    padding-right: 90px;
    align-items: center;
    padding-bottom:60px;

    height:212%;
}

.box-2 .text {
    max-width: 45%;
    vertical-align: top;
    text-align: left;
    font-size: 25px;
    float: right;
    padding-left: 100px;
}




.box-2 img {
    width: 540px;
    height: 490px;
    border-radius: 12px 12px 12px 12px;
    margin-top: 50px;
    margin-left: 50px;
    float: left;
}


.box-2 .text p {
    float: left;
    font-size: 16px;
    letter-spacing: 0.6px;
    vertical-align: top;
    text-align: left;
    padding-right: 40px;
    line-height: 32px;
    font-weight:300;
}

.box-2 img,
.box-2 .text {
    position: relative;
    right: 130px;
}

.box-2 h2{
    font-family:"Milyuna", sans-serif;
    font-weight:400;
}


@media only screen and (max-width:400px) {
    .box-2 {
        height: 9310em;
    }
}
@media only screen and (max-width:1100px) {
    .box-2 {
        display: block;
        height: 56em;

    }

    .box-2 .text {
        order: 1;
        float: left;
        max-width: 100%;
    }

    .box-2 img {
        order: 2;
        width: 410px;
        height: 360px;
        margin: auto;
        margin-left: 70px;
        margin-top: 10px;
        float: left;
    }

    .box-2 img,
    .box-2 .text {
        position: relative;
        right: 30px;
    }
}

.box-inline {
    justify-content: center;
    margin: auto;
    text-align: center;
    position: relative;
    top: 45px;
}

.box-inline h1 {
    font-size: 50px;
    width:100%;
    margin:auto;
    font-family:"Milyuna", sans-serif;
    font-weight:400;
    color:rgb(49, 49, 49);
}

.boxes {
    display: inline-block;
    padding: 20px;
    vertical-align: middle;
    margin-left: 40px;
    height: 70px;
    padding-right: 50px;
}

.boxes li {
    float: left;
    width: 200px;
    text-align: left;
    font-weight: lighter;
    line-height: 32px;
    position: relative;
    bottom: 30px;
    vertical-align: top;
    font-weight:300;
    font-size:16px;
}

.line {
    border-right: 1px solid;
}

.boxes h3 {
    vertical-align: top;
}

.values-box {
    text-align: center;
    width: 100%;
    background-color: rgba(211, 221, 230, 0.62);
}

.values-table {
    display: inline-block;
    padding: 20px;
    align-items: center;
    margin-right: 130px;
    position: relative;
    text-align: left;
    width: 25%;
}

.values-text {
    width: 139%; 
}


.values-text h1 {
   font-weight:1000;
   font-style:italic;
   font-size:30px;
}

.values-text h2 {
    font-style:italic;
    font-size:36px;
    font-weight: 400;
    font-family:"Milyuna", sans-serif;
}

.values-text h3{
   font-weight:bolder;
    font-size: 16px;
    line-height: 16px;
    font-weight:300;

}

.values-table h1 {
    font-size: 30px;
    font-weight: 400;
    font-style: italic;
    text-align: left;
    text-decoration: underline;
    text-underline-offset: 25px;
    text-decoration-thickness:1px;
    font-family:"Milyuna", sans-serif;
}

.values-table p {
    width: 140%;
    font-size: 16px;
    font-weight: 300;
    line-height:32px;
}

.process h2:nth-child(1) {
    color: rgb(40, 64, 83);
    font-size: 36px;
    font-weight:400;
    font-family:"Milyuna", sans-serif;
}

.process h3 {
    font-size: 16px;
    font-weight: 300;
    line-height:24px;
    width: 40%;
    margin: auto;
}

.boxes-2 {
    display: inline-block;
    line-height: 24px;
    font-family: "Montserrat", sans-serif;
    padding: 3%;
    vertical-align: middle;
    vertical-align: top;
    /* margin-left:40px; */
    /* height:70px; */
    /* padding-right:50px; */
    font-size: 16px;
    font-weight:bold;
}

.boxes-2 h3 {
    width: 170px;
    font-family: 'Montserrat', sans-serif;
    font-size:16px;
    line-height:32px;
    color:rgb(32, 43, 49);
}

.boxes-2 h2{
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
    font-size:18px;
    color:rgb(40, 64, 83);
}

.boxes-2 svg {
    width: 70px;
    fill: burlywood;
}

.values-table h1::after {
    font-size: 20px;
    content: '';
    position: absolute;
    border: 1 solid black;
    height: 30px;
    left: 20px;
    bottom: 12px;
    padding-top: 20px;
}

._1 {
    margin-left: 302px;
}

footer {
    text-align: center;
    background-color: rgb(54, 72, 88);
    height: 450%;
    width: 100%;
    font-family: "Montserrat", sans-serif;
}

footer a {
    text-decoration: none;
}

.footer-1 {
    display: inline-block;
    vertical-align: top;
    padding: -120px;
    margin-right: 560px;
    line-height:36px;
}

.footer-2 p{
    color: white;
    font-size:14px;
    font-weight:400;
    margin-right: 330px;
    
}

.footer-2 a {
    color: rgb(147, 147, 147);
    font-size:13px;
    font-weight:400;
    line-height:26px;
    text-decoration: underline;
}

.orangeline a:hover {
    text-decoration: none;
}

.textbox {
    position: relative;
    left: 40px;
    text-align: left;
}

.texts {
    color:white;
}

.texts a {
    color: white;
    line-height: 36px;
    font-size:18px;
}
.texts h3{
    font-size:18px;
    font-weight:400;
}

.texts h4{
    font-weight:300;
    padding-bottom:12px;
    line-height:32px;
    font-size:16px;
}

.icons {
    width: 130px;
    display: flex;
    color: white;
    position: relative;
    margin-left: -15px;
    vertical-align: top;
}

.icons svg {
    cursor: pointer;
    padding: 15px;
    vertical-align: top;
}

@media only screen and (max-width:970px) {
    .footer-2 {
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
}
@media only screen and (max-width:1193px) {
    .footer-1{
        margin: 0 auto;
    }
}

@media only screen and (max-width:600px) {
    .texts{
        margin-top:20px;
    }
}